.userHeaderPicSwiper {
    margin-top: 30rpx;
    height: 150rpx;

    .userSwiperItem {
        text-align: center;
        height: auto !important;

        .imgPartyDayUserHeader {
            width: 94rpx;
            height: 94rpx;
        }
        
        .patyDayUserName {
            margin: 8rpx 0;
            line-height: 28rpx;
            color: rgba(51, 51, 51, 1);
            font-size: 28rpx;
        }
    
        .patyDayUserDay {
            line-height: 28rpx;
            color: rgba(204, 204, 204, 1);
            font-size: 24rpx;
        }
    }
}