@font-face {
    font-family: "fontMedium";
    font-display: swap;
    src: url("//at.alicdn.com/t/webfont_txbc7ywerxm.eot"); /* IE9*/
    src: url("//at.alicdn.com/t/webfont_txbc7ywerxm.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_txbc7ywerxm.woff")
            format("woff"),
        /* chrome、firefox */ url("//at.alicdn.com/t/webfont_txbc7ywerxm.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("//at.alicdn.com/t/webfont_txbc7ywerxm.svg#AlibabaPuHuiTiM")
            format("svg"); /* iOS 4.1- */
}

.fontMedium {
    font-family: "fontMedium" !important;
}
