@font-face {
    font-family: "fontBold";
    font-display: swap;
    src: url("//at.alicdn.com/t/webfont_nftxanddp8.eot"); /* IE9*/
    src: url("//at.alicdn.com/t/webfont_nftxanddp8.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_nftxanddp8.woff")
            format("woff"),
        /* chrome、firefox */ url("//at.alicdn.com/t/webfont_nftxanddp8.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("//at.alicdn.com/t/webfont_nftxanddp8.svg#Alibaba-PuHuiTi-Bold")
            format("svg"); /* iOS 4.1- */
}

.fontBold {
    font-family: 'fontBold' !important;
}
