@font-face {
    font-family: "fontLight";
    font-display: swap;
    src: url("//at.alicdn.com/t/webfont_t7cutlmhx8r.eot"); /* IE9*/
    src: url("//at.alicdn.com/t/webfont_t7cutlmhx8r.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_t7cutlmhx8r.woff")
            format("woff"),
        /* chrome、firefox */ url("//at.alicdn.com/t/webfont_t7cutlmhx8r.ttf")
            format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("//at.alicdn.com/t/webfont_t7cutlmhx8r.svg#AlibabaPuHuiTiL")
            format("svg"); /* iOS 4.1- */
}

.fontLight {
    font-family: "fontLight" !important;
}
