.org-wrap {
    min-height: 100vh;
    background: #f5f5f5;
    padding-top: 32rpx;
    .org-container {
        margin-bottom: 160px;
        .at-row {
            background: #fff;
            padding: 24px 32px;
            align-items: center;
            image {}
        }
        .at-row--disabled {
            opacity: .3;
        }
    }
    .title {
        padding: 24rpx 24rpx;
        font-size: 32rpx;
        color: #999;
    }
    .footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        padding: 24rpx 36rpx;
        background: #fff;
        .at-row {
            color: #FF4D4F;
            font-size: 34rpx;
            align-items: center;
            .btn {
                background: #FF4D4F;
                padding: 16rpx 36px;
                color: #fff;
                font-size: 32rpx;
                border-radius: 8rpx
            }
        }
    }
}