.parent-layout{
    display: flex;
    flex-flow: column;  
}

.at-textarea {
    border-top: 0rpx!important;
    border-bottom: 0rpx!important;
    border-right: 0rpx !important;
    border-left: 0rpx !important;  
    padding: 32rpx !important; 
}

// .at-textarea__textarea{
//     margin: 32rpx !important;
// }

.border{
    width: 100%;
    height: 1rpx;
    transform: scaleY(0.5);
    background-color: rgb(245,245,245);
    margin-left: 32rpx ;
    margin-right: 32rpx ;
}

.big-border{
    width: 100%;
    height: 30rpx;
    background-color: rgb(245,245,245);
}
    

.item-row{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20rpx;
    padding-bottom: 20rpx;
    padding-left: 32rpx;
    padding-right: 32rpx;
}


.item-row-right{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.item-text{
    font-size: 32rpx;
}

.item-text-black{
    @extend .item-text;
    color: rgb(51,51,51);
}

.item-text-gray{
    @extend .item-text;
    color: rgb(153,153,153);
}

