.edit-wrap {
    width: 100%;
    min-height: 100vh;
    position: relative;
    .head {
        padding: 64px 32px;
        .at-row {
            align-items: center;
            font-size: 28px;
            .user-name {
                font-size: 34px;
            }
            .org-name {
                font-size: 26px;
                color: #999999;
                padding-top: 8px;
            }
            image {
                width: 76px;
                height: 76px;
                border-radius: 50%;
                margin-right: 36px;
                vertical-align: middle;
            }
            text {
                color: #FF4D4F;
            }
        }
    }
    .container {
        padding: 0 32rpx;
        background: #fff;
        .info {
            padding-top: 24px;
            font-size: 28px;
            color: #999;
        }
        .money {
            font-size: 32px;
            font-family: 'PingFangSC-Medium';
            .title {
                padding-top: 32px;
            }
            .at-row {
                padding: 32px 0;
                align-items: center;
                font-size: 52px;
                .at-col {
                    font-size: 60px;
                    text-align: right;
                    input {
                        text-align: left;
                        font-size: 90px;
                    }
                }
            }
        }
        .info {
            font-size: 28px;
            color: #999999;
            font-family: 'PingFangSC-Regular';
            .at-row {
                padding: 24px 0;
                align-items: center;
                .at-col {
                    text-align: right;
                }
            }
        }
    }
    .btn {
        padding: 0 32px;
        margin-top: 90px;
    }
}