.survey-edit {
    width: 100%;
    color: #333;
    font-size: 34px;
    &-form {
        background-color: #fff;
        margin-top: 28rpx;
        &-item {
            margin-left: 32rpx;
            padding: 24rpx 0;
            width: calc(100% - 32rpx);
            border-bottom: 1px solid #f6f6f6;
            .text-red {
                color: #FF4D4F;
            }
            &-intro {
                background-color: rgba(238, 238, 238, 0.32);
                padding: 28rpx 32rpx;
                color: #999;
                font-size: 28px;
                line-height: 40rpx;
            }
            &-title {
                color: #999;
                font-size: 32rpx;
                padding-left: 32rpx;
                padding-top: 28rpx;
            }
            &-date {
                font-size: 28rpx;
                padding-top: 16rpx;
            }
            &-img {
                height: 90rpx;
                width: 190rpx;
                float: right;
                padding-right: 36rpx;
            }
            &-content {
                float: right;
                padding-right: 16rpx;
                color: #999;
                font-size: 32px;
                &-red {
                    float: right;
                    padding-right: 16rpx;
                    font-size: 28px;
                    color: #999;
                }
                image {
                    height: 52rpx;
                    width: 52rpx;
                    border-radius: 50%;
                    vertical-align: middle;
                    margin-right: 4rpx;
                }
            }
        }
        &-btn {
            padding: 90rpx 32rpx 32rpx;
            &-del {
                margin-top: 36rpx;
                border: 1rpx solid #ccc;
            }
        }
    }
    .survey-result {
        color: #333;
        &-head {
            background-color: #fff;
            padding: 36rpx 32rpx;
            margin-bottom: 28rpx;
            &-user {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                font-weight: bold;
                line-height: 80rpx;
                font-size: 28rpx;
                &-name {
                    font-weight: normal;
                    color: #333;
                    padding-left: 16rpx;
                }
            }
            &-title {
                color: #333;
                font-size: 40px;
                line-height: 56rpx;
                font-weight: 600;
                padding: 32rpx 0;
            }
            &-time {
                color: #999;
                font-size: 24rpx;
            }
            image {
                height: 80rpx;
                width: 80rpx;
                border-radius: 50%;
                margin-right: 32rpx;
            }
        }
        &-data {
            padding: 48rpx 32rpx;
            background-color: #fff;
            margin-bottom: 28rpx;
            color: #999;
            font-size: 26px;
            &-title {
                color: #333;
                font-size: 36px;
                line-height: 52rpx;
                font-weight: 600;
            }
            &-item {
                text-align: center;
                padding-top: 54rpx;
                &-num {
                    color: #333;
                    font-size: 50px;
                    line-height: 70rpx;
                    padding-right: 4rpx;
                }
            }
        }
        &-item {
            background-color: #fff;
            color: #999;
            font-size: 28px;
            padding: 64rpx 32rpx;
            line-height: 40rpx;
            margin-bottom: 28rpx;
            &-head {
                line-height: 48rpx;
                &-type {
                    font-size: 24rpx;
                    line-height: 52rpx;
                    border: 1rpx solid #FF4D4F;
                    color: #FF4D4F;
                    padding: 2rpx 12rpx;
                    border-radius: 4rpx;
                    margin-right: 32rpx;
                }
                &-title {
                    color: #333;
                    line-height: 52rpx;
                    font-size: 36rpx;
                    font-weight: 600;
                }
            }
            &-option {
                padding-top: 24rpx;
                color: #333;
                font-size: 32rpx;
                line-height: 44rpx;
                &-content {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding: 36rpx 0 12rpx;
                }
                &-chartcontent {
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }
                &-num {
                    width: 10%;
                    text-align: right;
                }
                &-chart {
                    height: 18rpx;
                    background-color: #FCD06A;
                    border-radius: 9rpx;
                    margin-top: 12rpx;
                    margin-right: 16rpx;
                }
            }
            &-answer {
                margin-top: 32rpx;
            }
            &-answer-item {
                background-color: #F9F9F9;
                padding: 26rpx 32rpx;
                margin-bottom: 32rpx;
                color: #333;
            }
            &-answer-more {
                text-align: center;
            }
        }
    }
    .at-textarea {
        padding: 24rpx 0rpx;
        margin-left: 32rpx;
        width: calc(100% - 32rpx);
        border: 0;
        border-bottom: 1rpx solid #F6F6F6;
    }
    .at-input {
        padding: 0 !important;
        border: 0;
        position: static;
        text-align: right;
    }
    .at-input__input {
        padding-right: 32rpx;
    }
    .at-switch {
        padding: 0 !important;
        margin-right: 16px;
        float: right;
    }
    .at-tabs .at-tabs__header {
        border-bottom: 1px solid #f3f3f3;
    }
}