.vote-edit {
    width: 100%;
    background-color: #f5f5f5;
    color: #333;
    font-size: 34px;

    .vote-edit-form {
        background-color: #fff;
        margin-top: 28rpx;

        &-item {
            margin-left: 32rpx;
            padding: 24rpx 0;
            width: calc(100% - 32rpx);
            border-bottom: 1px solid #f6f6f6;


            &-title {
                color: #333;
                font-size: 34rpx;
                padding-left: 32rpx;
                padding-top: 28rpx;

                &-active {
                    color: #FF4D4F;
                    font-size: 24rpx;
                    padding-left: 32rpx;
                    padding-top: 28rpx;
                }
                
            }

            &-date {
                font-size: 28rpx;
                padding-top: 16rpx;
            }

            &-img {
                height: 90rpx;
                width: 190rpx;
                float: right;
                padding-right: 36rpx;
            }

            &-content {
                float: right;
                padding-right: 16rpx;
                color: #999;
                font-size: 32px;

                &-headimg {
                    height: 52rpx;
                    width: 52rpx;
                    border-radius: 50%;
                    vertical-align:middle;
                    margin-right: 4rpx;
                }
            }
        }
        
        &-btn {
            padding: 90rpx 32rpx 32rpx;

            &-del {
                margin-top: 36rpx;
                border: 1rpx solid #ccc;
            }
        }
    }

    .at-textarea {
        padding: 24rpx 0rpx;
        margin-left: 32rpx;
        width: calc(100% - 32rpx);
        border: 0;
        border-bottom: 1rpx solid #F6F6F6;
    }

    .at-switch {
        padding: 0 !important;
        margin-right:16px;
        float:right;

    }
    
    .at-col-input{
        text-align: right;
        font-size: 32rpx;
        padding-right: 30px;
    }
    .mindView{
        color: #999;
        font-size: 32px;
        text-align: right;
        height: 90px;
        line-height: 90px;
        padding-right: 16px;
    }
    .miniMindView,.textR{
        color: #999;
        font-size: 32px;
        text-align: right;
        padding-right: 16px;
    }
    .textR{
        padding-right: 40px;
    }
}
