    .transfer-wrap {
        width: 100%;
        min-height: 100vh;
        position: relative;
        background: #f7f7f7;
        font-family: 'PingFangSC-Regular';
        padding-top: 60px;
        font-size: 32px;
        .card {
            margin: 32px;
            border-radius: 12px;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: -1px 9px 10px 0px rgba(199, 199, 199, 0.5);
            position: relative;
            min-height: 400px;
            padding: 64px 32px 32px 32px;
            .head {
                position: absolute;
                left: 0;
                right: 0;
                top: -30px;
                text-align: center;
                margin: 0 auto;
                Text {
                    padding: 22px 120px;
                    border-radius: 60px;
                    background-image: linear-gradient(to bottom, #FFCCCC, #FF4D4D);
                    box-shadow: 0px 8px 4px 0px rgba(255, 125, 125, 0.5);
                    color: #fff;
                }
            }
            .info {
                font-size: 28px;
                padding: 24px;
                .user-name {
                    font-size: 30px;
                    padding-right: 12px;
                }
                .user-state {
                    font-size: 24px;
                    color: #999;
                }
                .org {
                    font-size: 30px;
                    color: #333;
                    padding: 24px 0;
                }
                .state {
                    align-items: center;
                    padding-bottom: 12px;
                    text {
                        &:first-child {
                            color: #FF4D4D;
                            background: #FFCCCC;
                            border-radius: 50%;
                            font-size: 22px;
                            margin-right: 8px;
                            padding: 4px;
                            margin-right: 12px;
                        }
                        &:last-child {
                            font-size: 26px;
                            color: #999;
                        }
                    }
                }
            }
            .footer {
                text-align: right;
                font-size: 24px;
                View {
                    padding-top: 12px;
                }
            }
        }
    }