.dues-wrap {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #F5F5F5;
    .head {
        font-size: 28px;
        color: #999999;
        padding: 24px 32px 32px 32px;
        background: #FFF;
        .at-row {
            align-items: center;
            font-size: 34px;
            color: #333;
            image {
                margin-right: 36px;
                width: 76px;
                height: 76px;
                border-radius: 50%
            }
            .info {
                color: #999999;
                padding-top: 8px;
                font-size: 26px;
            }
            text {
                font-size: 24px;
                color: #FF4D4F;
                padding: 4px 12px;
                border: solid 1px #FF4D4F
            }
        }
    }
    .container {
        margin-top: 32px;
        padding: 0 32rpx;
        background: #FFF;
        .title {
            font-size: 52px;
            padding: 32px 0 64px 0;
        }
        .info {
            font-size: 28px;
            color: #999999;
            font-family: 'PingFangSC-Regular';
            .at-row {
                padding: 24px 0;
                align-items: center;
                .at-col {
                    text-align: right;
                }
            }
        }
    }
    .fee {
        margin-top: 32px;
        padding: 0 32rpx;
        background: #FFF;
        .title {
            font-size: 24px;
            padding: 24px 0;
            color: #999
        }
        .info {
            font-size: 28px;
            color: #999999;
            font-family: 'PingFangSC-Regular';
            .at-row {
                padding: 24px 0;
                align-items: center;
                .at-col {
                    text-align: right;
                }
                .fee-label {
                    font-size: 32px;
                    color: #333;
                }
                .money {
                    color: #333;
                    font-size: 60px;
                }
            }
        }
    }
    .action {
        font-size: 34px;
        background: #fff;
        margin-top: 32px;
        .action-item {
            padding: 32px 32px;
            .at-row {
                align-items: center;
                .at-col {
                    &:last-child {
                        text-align: right;
                    }
                    .info {
                        color: #FF4D4F;
                        font-size: 28px;
                    }
                }
            }
        }
    }
    .btn {
        padding: 32px 32px 48px 32px;
        background: #fff;
        margin-top: 32px;
        .fee-btn {
            margin-top: 48px;
            &:last-child {
                margin-bottom: 48px;
            }
        }
        .at-row {
            align-items: center;
            .at-col {
                &:last-child {
                    text-align: right;
                }
                .info {
                    color: #FF4D4F;
                    font-size: 28px;
                }
            }
        }
    }
    .footer {
        font-size: 24px;
        padding: 32px 0;
        text-align: center;
        color: #999;
        background: #fff;
        .diver {
            padding: 0 48px;
        }
    }
}