//间隔
$space: 16rpx;

//字体颜色
$color_text: #333;

//横线颜色
$color_line: #F5F5F5;

//默认标题大小
$title_size: 34rpx;

//小标题大小
$title_small_size: 28rpx;

//粗横线高度
$wide_line_height: 28rpx;

.activity-releasemeet {
    width: 100%;
    font-size: 34px;
    &-form {
        &-item {
            margin-left: 32rpx;
            padding: 30rpx 0;
            width: calc(100% - 32rpx);
            border-bottom: 2px solid $color_line;

            &-title {
                color: $color_text;
                font-size: $title_size;
            }

            &-small_title {
                color: $color_text;
                font-size: $title_small_size;
                margin-bottom: 6px;
            }

            &-date {
                font-size: 28rpx;
            }

            &-img {
                height: 90rpx;
                width: 190rpx;
                float: right;
                padding-right: 36rpx;
            }
            &-content {
                float: right;
                padding-right: $space;
                color: $color_text;
                font-size: $title_size;
                // height: 80rpx;
                // line-height: 80rpx;

                &-headimg {
                    height: 52rpx;
                    width: 52rpx;
                    border-radius: 50%;
                    vertical-align: middle;
                    margin-right: 4rpx;
                }
           
            }
        }
    }

    .at-switch {
        padding: 0 !important;
        margin-right: $space;
        float: right;
    }

    .next-btn {
        padding: 90rpx 32rpx 32rpx;
    }

    .wide-line {
        height: $wide_line_height;
        background: $color_line;
    }

    .vertical-view {
        width: 1rpx;
        height: 28rpx;
        background: $color_line;
    }

    .arrow-root {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .select-root{
        @extend .arrow-root;
        justify-content: flex-end;
    }

    .input {
        padding: 0 !important;
        margin: 6px 0 0 !important;
        font-size: 28px !important;
    }
    .picker{
        height: 60px;
        line-height: 60px;
        font-size: 32px;
    }
    .padT20{
        padding-top: 20px;
    }
    .mindInput{
        padding: 4px 0 0 0;
        border: none;
        .at-input::after {
            border: none !important;
        }
        .re-input{
            padding: 10px 0 0 42px;
            margin-left: 0;
        }
    }
    .borderL{
        border-left: 1px solid #eee;
        padding-left: 30px;
    }
    .borderB{
        border-bottom: 1px solid #eee;
    }
    .mypad{
        margin-left: 32px;
        padding: 30px 0;
        .input{
            text-align: right;
            padding-right: 30px;
        }
    }
}
