@import "../../../assets/scss/variables";
.#{$prefix} {
    &-orgSinglePopView-wrap {
        width: 100%;
        min-height: 100vh;
        font-size: 28px;
        background: #eee;
        .flex {
            font-size: 34px;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            .flex-item {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
            }
        }
    }
    &-orgSinglePopView-search {
        padding: 24px 32px 0 32px;
        background: #fff;
        .form {
            position: relative;
            padding: 0 0 32px 0;
            Icon {
                position: absolute;
                top: 20px;
                left: 24px;
            }
            .search-label {
                padding: 10px 32px 10px 70px;
                background: #eee;
                border-radius: 8px;
                color: #999;
            }
            Text {
                padding-left: 16px;
                color: #FF4D4F
            }
            Input {
                padding: 10px 32px 10px 70px;
                background: #eee;
                border-radius: 8px;
            }
        }
        .title {
            color: #999;
            font-size: 32px;
            padding: 40px 0;
        }
        .scrollview {
            white-space: nowrap;
            overflow-x: auto;
            padding: 32px 0;
            font-size: 32px;
            align-items: center;
            &::-webkit-scrollbar {
                display: none;
            }
            View {
                display: inline-block;
            }
        }
    }
    &-orgSinglePopView-all {
        background: #fff;
        margin-top: 16px;
        padding: 32px;
    }
    &-orgSinglePopView-container {
        background: #fff;
        margin-top: 16px;
        padding: 0 32px;
        .flex {
            padding: 32px 0;
            font-size: 34px;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            .action {
                color: #FF4D4F;
                padding-left: 32px;
            }
            .flex-item {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
            }
        }
    }
    &-orgSinglePopView-footer {
        background: #fff;
        color: #FF4D4F;
        padding: 24px 32px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 34px;
        .btn {
            background: #FF4D4F;
            padding: 16px 40px;
            color: #fff;
            border-radius: 8px;
        }
    }
}