.recordRank-wrap {
    width: 100%;
    min-height: 100vh;
    background: #F5F5F5;
    .wrap {
        height: calc(100vh - 86rpx);
    }
    .panel {
        .panel-title {
            padding: 24px 32px;
            font-size: 28px;
            color: #999;
        }
        .panel-body {
            background: #fff;
            padding: 0 32px;
            .at-row {
                padding: 12px 0;
            }
            .title {
                font-size: 32px;
            }
            .score {
                font-size: 34px;
                color: #FF4D4F;
            }
            .org-name {
                font-size: 26px;
                color: #999;
            }
            .time {
                font-size: 24px;
                color: #999;
            }
        }
    }
}