.public {
    width: 100%;
    min-height: 100vh;

    &-content {
        padding: 20rpx 14rpx;
        border-bottom: 1rpx solid #eee;
    }

    &-btn {
        padding: 32rpx;
    }

    .at-textarea {
        border: 0;
    }
}
