
.meetMsgMind-wrap {
    width: 100%;
    height: 100vh;
    .grayLineSpace{
        border-top: 28px solid #F5F5F5;
    }
    .msgMdTit{
        margin: 0 30px;
        padding: 28px 0;
        left: 32px;
        color: #333;
        font-size: 34px;
        border-bottom: 1px solid #eee;
    }
    .main{
        padding: 30px;
        .checkIcon{
            width: 36px;
            height: 36px;
            margin-right: 30px;
        }
        .contentMd{
            width: 610px;
            .normal{
                color: #333;
                font-size: 32px;
            }
            .subTit{
                color: #999;
                font-size: 26px;
                padding-top: 10px;
            }
            .grayBgMd{
                background-color: #f9f9f9;
                padding: 28px 28px 0;
                margin-top: 30px;
                .grayBgMdTit{
                    color: #333;
                    font-size: 26px;
                    padding-bottom: 10px;
                }
                .grayBgMdText{
                    color: #999;
                    font-size: 26px;
                    padding-bottom: 30px;
                    line-height: 1.4;
                }
            }
        }
    }
    .btnCom{
        margin: 80px 30px 0;
    }
}
