.answerDetail-wrap {
    width: 100%;
    min-height: 100vh;
    //background-image: url('http://saas-2-min-pro.oss-cn-hangzhou.aliyuncs.com/images/subPackageEco/answer/head.png');
    background: #fff;
    .headImg {
        width: 100%;
    }
    .container {
        position: relative;
        min-height: 400px;
        margin: -100px 32px 0 32px;
        background: #fff;
        padding: 40px;
        border-radius: 16px;
        box-shadow: 0px 4px 12px 0px rgba(199, 199, 199, 0.5);
        .user-head {
            display: flex;
            align-items: center;
            font-size: 28px;
            font-family: 'PingFangSC-Medium';
            
            .xiaoqi {
                width: 180px;
                position: absolute;
                top: -80px;
                right: 0;
            }
            .user-name {
                color: #999;
                font-family: 'PingFang-SC-Regular';
                padding-left: 12px;
            }
        }
        .question-title {
            font-size: 40px;
            font-family: 'PingFangSC-Medium';
            margin-top: 64px;
            line-height: 1.5
        }
        .question-info {
            font-family: 'PingFangSC-Regular';
            color: #999;
            font-size: 32px;
            margin-top: 36px;
        }
        .question-time {
            font-family: 'PingFangSC-Regular';
            color: #999;
            font-size: 28px;
            margin: 36px 0;
        }
        .question-btn {
            margin: 0 auto;
            width: 60%;
            text-align: center;
            color: #fff;
            font-size: 48px;
            .btn {
                background-image: linear-gradient(to right, #FF4443, #FF7C6F);
                padding: 22px 0;
                border-radius: 80px;
            }
        }
    }
}