view {
    font-family: 'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif' !important;
}
/* flex布局 */

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}

.itemStart {
    /*纵向 靠上*/
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.itemCenter {
    /*纵向 居中*/
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.contentStart {
    /*横向 靠左*/
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
}

.contentCenter {
    /*横向 居中*/
    justify-content: center;
    -webkit-justify-content: center;
}

.contentEnd {
    /*横向 靠右*/
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.flexWrap {
    /*横向 自动换行*/
    flex-wrap: wrap;
}


/* active效果 */

.active:active {
    opacity: 0.7;
}


/* 显示 与 隐藏 */

.sysShow {
    display: block;
}

.sysHide {
    display: none;
}


/* 字体颜色 */

.red {
    color: #FF4D4F;
}

.org {
    color: #EF7340;
}

.lessOrg {
    color: #FB9605;
}

.gray {
    color: #999;
}


/* 字体大小 */

.size24 {
    font-size: 24px;
}

.size26 {
    font-size: 30px;
}

.size28 {
    font-size: 30px;
}

.size30 {
    font-size: 30px;
}

.size32{
    font-size: 32px;
}

.size34 {
    font-size: 34px;
}

.size36 {
    font-size: 36px;
}


/* 定位 */

.posrel {
    position: relative;
}

/* 文本对齐 */

.textR{
    text-align: right;
}

.textCenter{
    text-align: center;
}

/* 加载更多 */

.loadmore {
    text-align: center;
    color: #aaa;
    font-size: 30px;
    padding: 30px;
}


/* 暂无数据 */

.nodata {
    padding-top: 440px;
}

.nodata-img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.nodata-txt {
    text-align: center;
    font-size: 30px;
    color: #aaa;
    padding-top: 10px;
}


/* 文本溢出 */

.ellOneLine {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellTwoLine {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


/* 1px样式 */

[class*='van-hairline'] {
    position: relative;
}

[class*='van-hairline']::after {
    content: ' ';
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border: 0 solid #ebedf0;
}

.van-hairline--top::after {
    border-top-width: 1px;
}

.van-hairline--left::after {
    border-left-width: 1px;
}

.van-hairline--right::after {
    border-right-width: 1px;
}

.van-hairline--bottom::after {
    border-bottom-width: 1px;
}

.van-hairline--top-bottom::after {
    border-width: 1px 0;
}

.van-hairline--surround::after {
    border-width: 1px;
}


/* 全局icon组件图标 */

.icon {
    font-family: "font_family" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/** djgrid 开始 */

.djGrid {
    display: block;

    > view {
        display: flex;
        flex-wrap: wrap;

        .gridItem {
            flex: 1;
            display: block;
            position: relative;
            -webkit-box-flex: 1;

            .gridContent {
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
    
                .gridInner {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    height: 100%;
    
                    .gridImg {
                        flex: 0 0 auto;
                        line-height: 1;
                    }
    
                    .gridImg image {
                        width: 80rpx;
                        height: 80rpx;
                    }
    
                    .gridText {
                        flex: 0 0 auto;
                        margin-top: 12px;
                        color: #333;
                        text-align: center;
                        font-size: 32rpx;
                        line-height: 1.5;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                    }
                }
            }
        }

        .gridItem.item25 {
            flex: 0 0 25%;
        }
    }

    .at-badge__num {
        top: -12rpx;
        right: -2rpx;
    }
}

/**  djgrid 结束 */

@import "./taro-ui-cover.scss";