/* Taro-ui-tab 样式覆盖 */

.tabsCom {
    height: 100vh;
}

.at-tabs__header .at-tabs__item--active {
    color: #FF4D4F;
}

.at-tabs__header .at-tabs__item-underline {
    width: 50%;
    height: 3PX;
    margin-left: 25%;
    background-color: #FF4D4F;
}

.at-tabs__underline {
    opacity: 0;
}

.at-tabs .at-tabs__header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.at-tabs__item {
    font-size: 32px !important;
}


/* button 开始 */

button {
    border-radius: 4px;
}

button[type=primary],
.at-button--primary {
    color: #FFF !important;
    background-color: #FF4D4F !important;
    border: 1px solid #FF4D4F !important;
}


/* button 结束 */

.at-form::after {
    border: none!important;
    border-top-width: 0!important;
    border-bottom-width: 0!important;
}