.msg-wrap {
    background: #F9FAFC;
    .head {
        margin-top: 96px;
        text-align: center;
        background: #ffffff;
        .icon {
            color: #FF4D4F;
            font-size: 88px;
        }
        .info {
            padding-top: 12px;
        }
        .money {
            font-size: 64px;
            padding-top: 24px;
            text {
                font-size: 40px;
            }
        }
    }
    .container {
        color: #999;
        background: #ffffff;
        font-size: 28px;
        padding: 24px 32px;
        .at-row {
            padding: 12px 0;
            .at-col {
                text-align: right;
                text {
                    font-size: 28px;
                }
            }
        }
    }
    .btn {
        padding: 0 32px;
        margin-top: 90px;
    }
    .footer {
        position: absolute;
        font-size: 24px;
        left: 0;
        right: 0;
        bottom: 32px;
        text-align: center;
        color: #999;
        .diver {
            padding: 0 48px;
        }
    }
}