.addAnswerForm-wrap {
    width: 100%;
    min-height: 100vh;
    background-color: #F5F5F5;
    color: #333;

    .customList {
        margin-top: 58rpx;
    }

    .option-item {
        margin: 32px;
        padding: 24px;
        font-size: 32px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 4px 12px 0px rgba(199, 199, 199, 0.5);
        .title {
            padding-bottom: 0px;
            font-family: 'PingFangSC-Medium';
            text {
                font-size: 26px;
                border: solid 1px #FF4D4F;
                color: #FF4D4F;
                border-radius: 4px;
                padding: 0 8px;
                margin-right: 16rpx;
            }
        }
        .info {
            font-size: 28px;
            font-family: 'PingFangSC-Regular';
            padding-left: 32px;
            line-height:48rpx;
        }
        .question-item {
            padding-top: 32px;
             :first-child {
                padding-top: 0;
            }
        }
        .question-item--flex {
            display: flex;
            .icon {
                line-height: 1.5;
            }
        }
    }
    .atcDeletIcon {
        width: 32px;
        height: 32px;
        display: inline-block!important;
        position: absolute!important;
        right: -16px!important;
        top: -10px!important;
        margin: 0!important;
    }
    .uncheckIcon {
        width: 28px;
    }
    .atcList {
        padding: 0 32rpx;
    }
    .atcListItem {
        position: relative;
        left: 0;
        padding: 20px!important;
    }
    .other-input {
        border: solid 1px #eee;
        padding: 12px;
        margin-left: 32px;
        margin-top: 24px;
    }
    checkbox-group {
        label {
            display: flex;
            padding: 0;
            border-radius: 4rpx;
            checkbox {
                .wx-checkbox-input,
                .am-checkbox-input {
                    border-radius: 50%;
                    /* 圆角 */
                    width: 36rpx;
                    /* 背景的宽 */
                    height: 36rpx;
                    /* 背景的高 */
                }
                .wx-checkbox-input.wx-checkbox-input-checked,
                .am-checkbox-input.am-checkbox-input-checked {
                    border: 1rpx solid #FF4D4F;
                    background: #FF4D4F;
                    color: #fff;
                }
                .wx-checkbox-input.wx-checkbox-input-checked::before,
                .am-checkbox-input.am-checkbox-input-checked::before {
                    border-radius: 50%;
                    /* 圆角 */
                    width: 36rpx;
                    /* 选中后对勾大小，不要超过背景的尺寸 */
                    height: 36rpx;
                    /* 选中后对勾大小，不要超过背景的尺寸 */
                    line-height: 36rpx;
                    text-align: center;
                    font-size: 30rpx;
                    /* 对勾大小 30rpx */
                    color: #fff;
                    /* 对勾颜色 白色 */
                    background: transparent;
                    transform: translate(-50%, -50%) scale(1);
                    -webkit-transform: translate(-50%, -50%) scale(1);
                }
            }
            text {
                color: rgba(51, 51, 51, 1);
                font-size: 32rpx;
            }
        }
    }
    .atcBloks {
        width: 46%!important;
    }
    .next-btn {
        padding: 90rpx 32rpx 32rpx;
    }
}